
#nivoSlider-wrapper10m196 {
	max-width: 325px;
}
#nivoSlider10m196 {
	position:relative;
	background:#fff url(/moteis/components/com_djmediatools/layouts/nivoSlider/images/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
#nivoSlider10m196 img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#nivoSlider10m196 a {
	border:0;
	display:block;
	background-color: transparent !important;
}
#nivoSlider10m196 .video-icon {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	background: url(/moteis/components/com_djmediatools/layouts/nivoSlider/images/video.png) center center no-repeat;
}


#nivoSlider-wrapper10m196 .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
#nivoSlider-wrapper10m196 .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(/moteis/components/com_djmediatools/layouts/nivoSlider/images/bullets.png) no-repeat !important;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
	background-color: transparent !important;
}
#nivoSlider-wrapper10m196 .nivo-controlNav a.active {
	background-position:0 -22px !important;
}

#nivoSlider-wrapper10m196 .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/moteis/components/com_djmediatools/layouts/nivoSlider/images/arrows.png) no-repeat !important;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: transparent !important;
}
#nivoSlider-wrapper10m196:hover .nivo-directionNav a { opacity: 1; }
#nivoSlider-wrapper10m196 a.nivo-nextNav {
	background-position:-30px 0 !important;
	right:15px;
}
#nivoSlider-wrapper10m196 a.nivo-prevNav {
	left:15px;
}

#nivoSlider-wrapper10m196 .nivo-caption {
	position: absolute;
	width: 61.538461538462%;
	max-height: 220px;
			bottom: 0%;
		left: 0%;
	}
#nivoSlider-wrapper10m196 .dj-slide-desc-in {
	position: relative;
	}
#nivoSlider-wrapper10m196 .dj-slide-desc-bg {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
			opacity: 0.5;
		filter: alpha(opacity = 50);
	}
#nivoSlider-wrapper10m196 .dj-slide-desc-text {
	position: relative;
	color: #ccc;
	padding: 10px;
	text-align: left;
}
#nivoSlider-wrapper10m196 .dj-slide-desc-text p {
	display: block;
	padding: 0;
}
#nivoSlider-wrapper10m196 .dj-slide-desc-text a {
	color: #f5f5f5;
}
#nivoSlider-wrapper10m196 .dj-slide-title {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.1;
	color: #f5f5f5;
	margin-bottom: 5px;
}
#nivoSlider-wrapper10m196 .dj-slide-title a {
	background: none;
}
#nivoSlider-wrapper10m196 .dj-readmore-wrapper {
	padding: 5px 0 0;
	text-align: right;
}
#nivoSlider-wrapper10m196 a.dj-readmore {
	font-size: 1.1em;
}
#nivoSlider-wrapper10m196 .dj-extra {
	float: right;
	margin: 0 0 5px 20px;
}


#nivoSlider-wrapper10m196 .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
#nivoSlider-wrapper10m196 .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
#nivoSlider-wrapper10m196 .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 100px;
	height: auto;
}

